@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
nav a {
    color: rgb(8 45 62);
}
nav a.logo {
    padding: 0;
    border: none;
    background-color: rgb(207 197 180);
}

nav a.logo img {
    height: 40px;
    display: block;
}

.header-image{
    display: flex;
    

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(207 197 180);
}

header, main, footer {
    width: 100%;
}

header {
    flex: 0 0 auto;
    position: fixed;
    background-color: rgb(207 197 180);
    
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: inherit;
}

.footer {
    flex: 0 0 auto;
    background-color: rgb(41 75 91);
    color: rgb(241 236 226);
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(160, 150, 150)
    ;
}

nav a {
    color: rgb(8 45 62);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    background-color: rgb(216, 208, 192);
    border-radius: 5px;
    border: 1px solid rgb(160, 150, 150);
}

nav a:hover {
    background: rgb(194 177 155);
    color: rgb(8 45 62);
    border-radius: 5px;
}

.image-container {
    display: grid;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    object-position: center;
}

.description {
    text-align: center;
    background: rgba(41, 75, 91, 0.774);
    padding: 10px;
    border-radius: 10px;
    color: rgb(241 236 226);
    text-decoration: solid;
}

.start {
    display: flex;
    justify-content: center;
    background: rgba(41, 75, 91, 0.774);
    padding: 10px;
    border-radius: 10px;
    color: rgb(241 236 226);
    gap: 10px;
}

.first-page-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
}

.image-container .arrow img {
    width: 30px;
    height: auto;
    border-radius: 15px;
}

.footer a {
    color: rgb(190 173 151);
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-media a {
    margin: 0 10px;
}

.day-header {
    display: flex;
}
.update{
    margin-left: 20px;
    margin-right: 10px;
}
.create{
    margin-top: 10px;
}


.day-notes {
    color: rgb(8 45 62);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgb(160, 150, 150);
    padding-left: 40px;
    margin-top: 15px;
    width: 80vw;
}

.notees-container {
    display: flexbox;
    margin: 20px;
}
main {
    margin-top: 40px;
}
.create, .update, .delete {
    align-self: flex-start;
    display: inline-block;
    padding: 0;
    border: none;
}

#form-close-button, .update-btn, .delete-btn, #create-day-button, .close-btn, .send-message {
    color: rgb(8 45 62);
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(216, 208, 192);
    border-radius: 5px;
    border: 1px solid rgb(160, 150, 150);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#form-close-button:hover, .update-btn:hover, .delete-btn:hover, #create-day-button:hover, .close-btn:hover, .send-message:hover {
    background-color: rgb(194 177 155);
    color: rgb(8 45 62);
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
    padding: 10px;
    border: 1px solid rgb(160, 150, 150);
    border-radius: 5px;
    background-color: rgb(238, 232, 221);
    
}
#date {
    border: 1px solid rgb(160, 150, 150); 
    color: rgb(8 45 62);
    background-color: rgb(238, 232, 221);
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.form-container {
    display: none;
    background: rgb(207 197 180);
    color: rgb(8 45 62);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 70%;
    overflow: auto;
    box-sizing: border-box;

}

.day-notes ul li {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 10px;
}

.expanded-view {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#close-expanded-view {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(216, 208, 192);
    border: 1px solid rgb(160, 150, 150);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#close-expanded-view:hover {
    background-color: rgb(194, 177, 155);
    color: rgb(8 45 62);
}

.quote-container {
    background: rgba(41, 75, 91, 0.89);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-text {
    color: rgb(241 236 226);
    font-style: italic;
    margin-bottom: 10px;
}

.quote-author {
    font-size: 1rem;
    text-align: right;
    color: #b9b2b2;
}
.contact-section{
    margin: 20px;
}
#name, #email {
    border: 1px solid rgb(160, 150, 150); 
    color: rgb(8 45 62);
    background-color: rgb(238, 232, 221);
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.contact-form {
    border-bottom: 1px solid rgb(160, 150, 150);
    padding: 10px;
    margin: 10px;
}

.contact-info {
    margin-top: 20px;
    border-bottom: 1px solid rgb(160, 150, 150);
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-section h1 {
    margin-bottom: 10px;
}
.contact-section h2 {
    margin-top: 15px;
}

.contact-section p {
    margin-left: 20px;
}

.employee-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.employee img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.main{
    align-items:start;
}
@media (max-width: 500px) {
    .first-page-text{
        left: 0%;
        transform: translate(0%);
        
    }
    .day-notes{
        width: 100vw;
        text-align: left;
    }

    body {
        text-align: center;
        font-size: 12px;
    }

    header {
        margin-bottom: 10px;
    }

    nav a {
        font-size: 12px;
        padding: 5px 10px;
    }

    nav a.logo img {
        height: 30px;
    }

    main{
        width: 100%;
        display: flex;
    }
    main .content {
        text-align: center;
        width: 100%;
    }
}
@media (max-height: 400px) {
    .first-page-text{
        left: 0%;
        transform: translate(0%);
        font-size: 12px;
        gap: 5px;
        
    }
    body {
        text-align: center;
    }

    header {
        width: 100%;
        margin-bottom: 10px;
    }

    nav a {
        font-size: 12px;
        padding: 5px 10px;
    }

    nav a.logo img {
        height: 30px;
    }

    main .content {
        text-align: center;
        font-size: 14px;
    }
}

@media (min-width: 1500px) {
    .day-header {
        display: flex;
        align-items: center;/* Prideda vietos tarp datos ir mygtukų */
    }
    .day-notes {
        max-width: 1500px;
        text-align: left;
    }
        body {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    header {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgb(160, 150, 150);
        align-items: center;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        border: 0px;
    }
    nav a {
        font-size: 20px;
    }
    .page{
        font-size: 20px;
    }
    main {
        max-width: 1500px;
    }

}