* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a {
    color: rgb(8 45 62);
}
nav a.logo {
    padding: 0;
    
}

nav a.logo img {
    width: 30px;
    height: auto;
    display: block;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(207 197 180);
}

header, main, footer {
    width: 100%;
}

header {
    flex: 0 0 auto;
    position: fixed;
    background-color: rgb(207 197 180);
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 0 0 auto;
    background-color: rgb(41 75 91);
    color: rgb(241 236 226);
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(160, 150, 150)
    ;
}

nav a {
    color: rgb(8 45 62);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    background-color: rgb(216, 208, 192);
    border-radius: 5px;
    border: 1px solid rgb(160, 150, 150);

}

nav a:hover {
    background: rgb(194 177 155);
    color: rgb(8 45 62);
    border-radius: 5px;
}

.image-container {
    display: grid;
    align-items: center;

    
    

}

.image-container img {
    width: 100%;
    height: auto;
    object-position: center;
}

.description {
    text-align: center;
    background: rgba(41, 75, 91, 0.774);
    padding: 10px;
    border-radius: 10px;
    color: rgb(241 236 226);
    text-decoration:solid
}
.start{
    display: flex;
    justify-content: center;
    background:  rgba(41, 75, 91, 0.774);
    padding: 10px;
    border-radius: 10px;
    color: rgb(241 236 226);
    gap: 10px;
    
    
}
.first-page-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
}

.image-container .arrow img {
    width: 30px;
    height: auto;
    border-radius: 15px;
}

.footer a {
    color: rgb(190 173 151)
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-media a {
    margin: 0 10px;
}
.day-header {
    display: flex;

}
.day-notes {
    color: rgb(8 45 62);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgb(160, 150, 150);
    padding-left: 40px;
    margin-top: 15px;

}
.notees-container {
    display: flexbox;
    margin: 20px;
}
main {
    margin-top: 40px;
}
.create {
    align-self: flex-start;
    display: inline-block; 
}
.form-container {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}