* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a.logo {
    padding: 0;
    
}

nav a.logo img {
    width: 30px;
    height: auto;
    display: block;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(207 197 180);
}

header, main, footer {
    width: 100%;
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 0 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgb(160, 150, 150)
    ;
}

nav a {
    color: rgb(36, 34, 34);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    background-color: rgb(216, 208, 192);
    border-radius: 5px;
    border: 1px solid rgb(160, 150, 150);

}

nav a:hover {
    background: rgb(194 177 155);;
    color: black;
    border-radius: 5px;
}

.image-container {
    display: grid;
    align-items: center;

    
    

}

.image-container img {
    width: 100%;
    height: auto;
    object-position: center;
}

.description {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
}
.start{
    display: flex;
    justify-content: center;
    gap: 5px;
    background: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    
}
.first-page-text{
    display: flexbox;
    justify-content: space-between;
    border-radius: 10px;
    position: absolute;
    left: 50%;;

}
.image-container .arrow img {
    width: 20px;
    height: auto;
    border-radius: 15px;
}

.footer a {
    color: #ffcc00;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-media a {
    margin: 0 10px;
}